/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.error-message {
  color: red;
  font-size: 0.85rem;
  margin-top: 5px;
  display: inline-block;
}

.valid-message {
  font-size: 0.85rem;
  color: green;
  margin-top: 5px;
  display: inline-block;
}
